<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="map-wrapper">
  <div class="map-container" 
       #mapContainer 
       [style.height]="height">
  </div>
  
  <div class="map-controls" *ngIf="showCurrentLocation">
    <button mat-mini-fab 
            color="primary" 
            class="location-btn"
            (click)="getCurrentLocation()"
            matTooltip="Get current location">
      <mat-icon>my_location</mat-icon>
    </button>
  </div>

  <div class="map-legend" *ngIf="markers.length > 0">
    <div class="legend-item" *ngIf="hasMarkerType('user')">
      <div class="legend-marker user-marker">
        <mat-icon>person</mat-icon>
      </div>
      <span>User</span>
    </div>
    
    <div class="legend-item" *ngIf="hasMarkerType('mechanic')">
      <div class="legend-marker mechanic-marker">
        <mat-icon>build</mat-icon>
      </div>
      <span>Mechanic</span>
    </div>
    
    <div class="legend-item" *ngIf="hasMarkerType('selected')">
      <div class="legend-marker selected-marker">
        <mat-icon>location_on</mat-icon>
      </div>
      <span>Selected</span>
    </div>
  </div>
</div>
